# Virtual Environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific files
.vscode/
.idea/
*.swp

# Build artifacts
build/
dist/
*.egg-info/

# Secrets / Environment variables
.env*
secrets.yaml
